@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: black;
  color: white;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url(me-hor.png);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 160px;

}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: font-size .5s;
}
nav ul li a:hover{
  font-size: 20px;
  font-weight: 600;
}
nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background:rgb(7, 104, 104);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}

.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.Developer{
  color: rgb(7, 104, 104);
  font-weight: bold;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span{
  color: rgb(7, 104, 104);
}

/*-----------------------------ABOUT-----------------------------------*/


#about{
  padding: 80px 0;
  color: rgb(171, 171, 171);
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 49px;
}

.about-col-1{
  flex-basis: 35%;
  flex-shrink: 0;
  align-self: start; 
  margin-left: -15px;
}
.about-col-1 img{
  border-radius: 15px;
  border: 2px solid rgb(7, 104, 104);
  width: 110%;
  height: 110%;
}
.image{
  height: 100vh;
  width: 100vh;
}

.about-col-2{
  flex-basis: 60%;
  min-height: 250px;
}
.me--{
  font-size: 60px;
  font-weight: 600;
  color: rgb(7, 104, 104);
  width: 400px;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: rgb(7, 104, 104);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-links::after{
  width: 50%;
}
.tab-contents{
  display: none;
  min-height: 150px; 
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: rgb(14, 71, 71);
  font-size: 17px;
  font-weight: bold;
}
.tab-contents.active-tabs{
  display: block;
}

/*--------------------------------SERVICES--------------------------------------*/
#services{
  padding: 30px 0;

}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:40px;
  margin-top: 50px;
}
.services-list div{
  background: rgb(38, 38, 38);
  padding: 30px;
  font-size: 13px;
  border-radius: 11px;
  font-weight: 300;
  border-right: 10px;
  transition: background .5s, transform .5s;
}
.services-list div:hover{
  background: rgb(8, 83, 83);
  transform: translateY(-10px);
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 22px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  transition: font-size 0.5s;
}
.services-list div a:hover{
  text-decoration: underline;
  font-size: 16px;
}

/*----------------------------------PORTFOLIO-------------------------------------*/

#portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:40px;
  margin-top: 50px;
}
.work-list div{
  background: rgb(38, 38, 38);
  padding: 30px;
  font-size: 13px;
  border-radius: 11px;
  font-weight: 300;
  border-right: 10px;
  transition: background .5s, transform .5s;
}
.work-list div:hover{
  background: rgb(8, 83, 83);
  transform: translateY(-10px);
}
.work{
  border-radius: 12px;
  position: relative;
}
.icon{
  font-size: 50px;
  margin-bottom: 22px;
}
.work-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.work-list div p{
  margin-bottom: 15px;
}
.work-list div a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  transition: font-weight .5s;
}
.work-list div a:hover{
  text-decoration: underline;
  font-weight: bold;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(8, 83, 83);
  background-color: black;
  border-radius: 9px;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
  text-align: right;
  margin-top: 9px;
  transition: background 0.5s, padding .5s;
}
.btn:hover{
  background: rgb(14, 71, 71);
  padding: 12px 14px;
}

/*----------------------------------------CONTACT---------------------------------------*/

.contact-left{
  flex-basis: 30%;
}
.contact-right{
  flex-basis: 10%;
}
.contact-left p{
  margin-top: 30px;
  width:350px;
}
.contact-left p i{
  color: rgb(7, 104, 104);
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: rgb(171, 171, 171);
  display: inline-block;
  transition: transform .5s;
}
.social-icons a:hover{
  color: rgb(8, 83, 83);
  transform: translateY(-5px);
}
.CV{
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(8, 83, 83);
  background-color: black;
  border-radius: 9px;
  color: white;
  text-decoration: none;
  padding: 10px 19px;
  text-align: center;
  margin-top: 22px;
  transition: background 0.5s, padding .5s;
}
.CV:hover{
  background: rgb(14, 71, 71);
  padding: 12px 22px;
}
.sub-btn{
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid rgb(4, 78, 78);
  background-color: black;
  border-radius: 9px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 14px 60px;
  text-align: center;
  margin-top: 9px;
  transition: background 0.5s, padding .5s;
}
.sub-btn:hover{
  background: rgb(4, 78, 78);
  padding: 17px 64px;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(38, 38, 38);
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 13px 0;
  background: rgb(38, 38, 38);
  font-weight: 300;
  margin-top: 20px;
}